:root {
  --white:#fff;
  --darkBlue: #313E5A;
  --background: #fff;
  --black: rgba(0, 0, 0, 0.85);
  --ant-border: #F0F0F0;
  --gray:rgba(0, 0, 0, 0.45);
  --blackGray: #BFBFBF;
  --darkGray: #595959;
  --lightGray: #FAFAFA  ;
  --bg-drop-down:#fff;
  --color-drop-down: var(--black);
  --bg-hover-drop-down: #E6F7FF;
  --fullBlack: #000;
  --privacy-title: #141414;
  --run-black: #262626;
  --textarea-bg:#fff;
  --textarea-border: #d9d9d9;
  --switch-bg: rgba(0, 0, 0, 0.25);
  --slider-color: var(--gray);
  --slider-rail:  #F5F5F5;
  --slider-track:  #91d5ff;
  --slider-track:  #91d5ff;
  --burger-background: #fff;
}

html.dark {
  --white:#000;
  --darkBlue: #fff;
  --background: #1A1B1E;
  --black: rgba(255, 255, 255);
  --ant-border: #18191C;
  --gray:#F5F5F5;
  --blackGray: #464646;
  --darkGray: #a0a0a0;
  --lightGray: rgb(53, 53, 53);
  --bg-drop-down:#1F1F1F;
  --color-drop-down: #FFF0F6;
  --bg-hover-drop-down: #1f2329;
  --fullBlack: #fff;
  --privacy-title: #fff;
  --run-black: #fff;
  --textarea-bg:#222;
  --textarea-border: #555;
  --switch-bg: rgba(0, 0, 0, 0.5);
  --slider-color: #c9c9c9;
  --slider-rail: #494949;
  --slider-track:  #3eb2fa;
  --burger-background: #111;
}